.form-control {
  background-color: lightblue;
}

.alert-info {
  background-color: lightblue;
  color: #444;;
}

.img-thumbnail{
  margin: 25px;
  width: 85%;
  height: 85%;
}

.card-body{
  padding: 0 25px;
  height: 100%;
}

.card-footer{
  padding: 10px 15px;
  background-color: lightblue;
  border-top: none;
}
